.screen {
	align-items: center;
	background: rgba(255, 255, 255, 0.25);
	border: 1px solid white;
	color: white;
	display: flex;
	font-size: 3rem;
	font-weight: 400;
	height: 150px;
	justify-content: end;
	padding: 1rem;
	max-width: 400px;
	word-wrap: break-word;
	word-break: break-all;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
