.screen{
    background-color: orange;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    font-size: 2em;
    font-weight: bold;
}