.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-column: 1 / span 2; */
	/* grid-template-columns: [first] 50px [line2] 50px [line3] auto [col4-start] 50px; */
	/* grid-template-columns:repeat(auto-fit, minmax(50px, 1fr));; */
	gap: 1em;
}
.btnGray {
	color: black;
	background-color: #A0A0A0;
}
.btnYellow {
	color:white;
	background-color: #F69906;
}

.btnBlack,
.hans {
	color: white;
	background-color: #313131;
}
.hans {
    grid-column:1/3;
}
body{
	font-size: 2em;
	margin: 0;
	padding: 0;
}
.error{
	color:white;
}