 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
    }
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
    background-image: linear-gradient(to right,#DECC67, #E0A395 );
    /* /*background: linear-gradient(-45deg, #F9F9F9 0%, #02A388 100% ); */
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

